body {
    background-color: black;
    color: white;
    font-family: system-ui;
}

h1 {
    text-align: center;
}

#abv-selection {
    display: flex;
    justify-content: center;
}

#beer-name {
    cursor: pointer;
}

#all-beer {
    display: flex;
    justify-content: center;
}

#dropdown {
    cursor: pointer;
}

#beer-details {
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}

#detail-image {
    max-height: auto;
    width: 10%;
}

#rating-form {
    display: flex;
    justify-content: center;
}

#smiley-rating {
    display: flex;
    justify-content: center;
}