body {
    background-color: black;
    color: white;
    font-family: system-ui;
}
 
h1 {
    display: flex;
   justify-content: center;
   padding-bottom: 20px;
}
 
#row-container {
    display: flex;
    justify-content: space-evenly;
}
 
 
#abv-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
}
 
#beer-name {
    cursor: pointer;
    padding-top: 10px;
}
 
#dropdown {
    cursor: pointer;
}
 
#beer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
p {
    padding: 8px;
    margin: 0;
}
 
#detail-image {
    width: 150px;
}
 
#detail-description {
    max-width: 400px;
}
 
h3 {
    max-width: 400px;
}
